/* code from https://stackoverflow.com/questions/52038110/how-do-i-make-a-footer-component-in-reactstrap */

html {
    position: relative;
    min-height: 110%;
  }
  body {
    margin-bottom: 10px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; /* Set the fixed height of the footer here */
    background-color: rgb(175, 0, 42);
  }
  
  
  
  