.Welcome-main-container{
	background-color: rgb(175, 0, 42, 0.3);
	margin-top: 2%;
}

.default-Welcome-card{
	background-color: rgb(175, 0, 42);
}


.Welcome-btn{
	background-color: #99cc00;
	min-width: 115px;
}

.activity-list, .Welcome-card-list{
	border-bottom: dashed;
	border-color: #e60036;
}
