.pay-main-container{
	background-color: rgb(175, 0, 42, 0.3);
	/*background-color: #9f9360;*/
	margin-top: 2%;
	
	
}

.default-pay-card{
	background-color: rgb(175, 0, 42);
}

.pay-btn{
	background-color: #99cc00;
	min-width: 115px;
}
