
/*Yellow Style*/

.yellow-style, .bg-att{
	background-color: #AF002A;
	max-width:600px;
	position: relative;
	Margin-top: 5%;

}

.yellow-style,.border-att, .input-att, .btn-att{
	border-style: solid double solid double;
	border-color: #3B7A57;
}

.btn-att{
	/*background-color: #9f9360;*/
	background-color:#99cc00;
}


